h1{
    color: red;
    align-items: center;
    justify-content: center;
}

.btnBuscar{
    background-color: rgb(7, 248, 7);
    color: black;
    width: 100%;
}

main{
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url(./../assets/aaaa.png);
    background-size: cover;
    height: 100vh;
    border-radius: 10px;
    
}

body{
color: red;
align-items: center;
justify-content: center;
}

.card{
    background-color: rgba(255, 255, 255, 0.5);
}

#visor{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); 
    width: 300px;
    height: 200px;
    border: 1px;
    align-items: center;
    justify-content: center;
}

#sideScreen{
    text-align: center;
}

img {
    align-items: center;
    justify-content: center;
    max-width: 50px;
    object-fit: cover;
}

a{
    color: red;
}

.card-body{
    background-color: red;
}

.container-base_stat{
    color: red;
}



